<div id="<%= dom_id velo %>">
  <p>
    <strong>Name:</strong>
    <%= velo.name %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= velo.company %>
  </p>

  <p>
    <strong>City:</strong>
    <%= velo.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= velo.country %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= velo.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= velo.longitude %>
  </p>

</div>
